 /*Parametros 320 768 y 1024*/

 @media screen and (min-width: 768px ) and (max-width: 1024px ){
   
   
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu{
        justify-content: center;
} 
     a{
        font-size: 1.5em;
        
}
     .cards__imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
}
 
  #hero{
    max-width: 101.5rem;
    max-height: 60rem;
    font-size: 1em;
}


.cards__imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1em;
    gap: 1rem;
}
.img{

max-width: 30rem ;
max-height: 30rem;


}  
#historia{
font-size: 0.8em;
}
.historia__img{
height: auto;
width: auto;
max-width: 50rem ;
max-height: 50rem;
}
.historia__hist{
flex-direction: column;
justify-content: center;
align-items: center;
}
.pelis{
display: flex;
flex-wrap: wrap;
}
.pelis__img{
height: 22.5rem;
width: 15rem;

}
#proyectos{
display: flex;
flex-direction: column;
font-size: 0.8em;
}
.proyectos__futuros{
flex-direction: column;
justify-content: center;
align-items: center;
}

.proyectos__img{
height: 20rem;
width: 30rem;
max-width: 30rem;
max-height: 30rem;
} 
.logo{
font-size: 3em;
}
h1 {
font-size: 5em;

}
h2{
font-size: 2.5em;
}
#formulario{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
   }
@media screen and (min-width:320px) and (max-width:768px){
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu{
        justify-content: center;
} 
     a{
        font-size: 1.2em;
        
}
     .cards__imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
}
 
    #hero{
    max-width: 76.7rem;
    max-height: 30rem;
    font-size: 0.8em;
}



 .cards__imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 0.8em;
    gap: 1rem;
}
.img{
height: auto;
width: auto;
max-width: 15rem ;
max-height: 15rem;


}  
#historia{
font-size: 0.8em;
}
.historia__img{
height: auto;
width: auto;
max-width: 40rem ;
max-height: 40rem;
}
.historia__hist{
flex-direction: column;
justify-content: center;
align-items: center;
}
.pelis{
display: flex;
flex-wrap: wrap;
}
.pelis__img{
height: 12rem;
width: 8rem;
max-width: 15rem;
max-height: 15rem;
}
#proyectos{
display: flex;
flex-direction: column;
font-size: 0.8em;
}
.proyectos__futuros{
flex-direction: column;
justify-content: center;
align-items: center;
}

.proyectos__img{
height: 20rem;
width: 30rem;
max-width: 30rem;
max-height: 30rem;
}
.logo{
font-size: 2em;
}
h1 {
font-size: 3.2em;

}
h2{
font-size: 2em;
}
#formulario{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
}
@media screen and (max-width:320px){
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu{
        justify-content: center;
} 
     a{
        font-size: 0.8em;
        
}
     .cards__imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
}
 
 #hero{
    max-width: 32rem;
    max-height: 15rem;
    font-size: 0.4em;
   
}
#cards{
    padding: 2rem;
}

.cards__titulo{
    font-size: 3em;
}

 .cards__imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 0.6em;
    gap: 1rem;
}
.cards__link{
    font-size: 2em;
}
.img{

width: 15rem ;
height: 10rem;
}  
#historia{
font-size: 0.4em;
}
.historia__img{
    height: auto;
    width: auto;
max-width: 30rem ;
max-height: 25rem;
}
.historia__hist{
flex-direction: column;
justify-content: center;
align-items: center;
}
.pelis{
display: flex;
flex-wrap: wrap;
}
.pelis__img{
height: 10rem;
width: 5rem;
max-width: 15rem;
max-height: 15rem;
}
#proyectos{
display: flex;
flex-direction: column;
font-size: 0.4em;
}
.proyectos__futuros{
flex-direction: column;
justify-content: center;
align-items: center;
}

.proyectos__img{
height: 15rem;
width: 25rem;
max-width: 30rem;
max-height: 30rem;

}
.logo{
font-size: 2em;
}
h1 {
font-size: 5em;

}
h2{
font-size: 2.5em;
}
#formulario{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
#formulario input,
#formulario textarea{
    height: 2rem;
    padding: 0.5rem 1rem;
}
.formulario__text{
    font-size: 0.8em;
}
}